 
 /* all selector */
 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 
 
 /* tag selector */


 body{
    font-family: sans-serif;
}

/* id selector class selector */
#brand{
    color: #fffbfb;
    font-size: 1.5rem; /* 50*16 */
    /* em =16px, rem */
}

/* index.html */

.navbar{
    background-color: #1e1a1a;
    color:#fff;
    padding: 15px 10px;
}
.navbar nav a{
    color: #fff;
    text-decoration: none;
}

#about,#services{
    padding: 15px;
}
#services ul{
    list-style:none;
}






/* playground */

#box{
    width:300px;
    border:2px solid red;
    /* padding: top right bottom left */
    /* padding all around, padding:10px */
    /* padding: top/bottom left/right */
    /* padding:10px 15px */
    padding: 10px 25px ;
    /* margin: top right bottom left */
    /* margin all around, margin:10px */
    /* margin: top/bottom left/right */
    /* padding:10px 15px */
    margin:50px 50px ;

    /* box-model */

    /* initial-width= 300px+50px+4px+100px = 454px */

}